.deps
__pycache__/
*.pyc
.git
.DS_Store
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/
node_modules/
*.log
*.tmp
*.swp
data/raw/
data/*/raw/
data/processed/images/
data/*/processed/images/
data/*/processed/source_booklets/
data/*/processed/text_booklets/
scripts/
data/resources/*/
